.banner {
    padding-top: 180px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #21262d;
    background-image: linear-gradient(to bottom right, #121212, #3d4a5d);
  }
  
  .banner > div > div {
    align-items: center;
  }
  
  .banner .brand {
    display: flex;
    align-items: center;
  }
  
  .banner .brand img {
    width: 100%;
  }
  
  .banner .title {
    font-size: 45px;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
  }
  
  .banner a.shopping-button {
    color: #000000;
    background-color: #03dac5;
  }
  /* .banner .MuiContainer-root{
      display: flex;
  }
   */
  @media (min-width: 800px) {
    .banner .title {
      font-size: 65px;
    }
  }